@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.clubs__container {
  margin-top: 30px;
}
.clubs {
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* border: 2px solid red; */
  justify-content: center;
}
.club {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 20px;
  width: 25%;
  height: 180px;
  /* border: 2px solid red; */
  background-color: rgb(24, 24, 24);
  /* background-color: rgb(35, 76, 122); */
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 0.2s ease;
  /* flex: 0 0 31%; */
}
.club:hover {
  /* cursor: pointer; */
  background-color: #000000;
  /* background-color: rgb(8, 51, 99); */

  transform: scale(1.02);
}
.club__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 70px;
  /* border: 2px solid red; */
  background-color: white;
  border-radius: 4px;
  transition: all 0.3s ease-in;
}
.club__logo img {
  height: 64px;
  width: 64px;
  z-index: 1;
}
.clubs__heading {
  text-align: center;
  padding-bottom: 60px;
  font-size: 45px;
  color: white;
  /* color: rgb(35, 76, 122); */

  font-family: "Montserrat", sans-serif;
}

/* .club span:hover {
  border-bottom: 2px solid white;
} */
/* .club__logo:hover {
  transform: translateY(-10px) scale(1.05);
} */
