.navbar {
  transition: all 0.5s ease-in;
}
.scroll {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: black;
  background-color: rgb(35, 76, 122);
  opacity: 1;
}

.nav__items {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  /* background-color: rgb(10, 10, 10); */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__left {
  text-decoration: none;
  padding-left: 50px;
}
.nav__right {
  display: flex;
  margin-right: 50px;
  list-style: none;
}

.nav__item {
  padding-left: 45px;
  color: white;
  /* color: black; */
  text-decoration: none;
}

.nav__links {
  padding-bottom: 4px;
  transition: all 0.1s ease-in-out;
}
.nav__links:hover {
  border-bottom: 3px solid white;
}

.nav__links:active {
  color: black;
}

@media screen and (max-width: 426px) {
  .nav__right {
    overflow: hidden;
  }
}
