@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}
.all__transactions__wrapper {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* margin: 0; */
  padding-top: 30px;
  font-family: "Lato", sans-serif;
}

.all__transactions__button {
  text-transform: uppercase;
  font-size: 0.9em;
  background-color: #2ecc71;
  border-radius: 5px;
  padding: 10px;
  color: #302f2f;
  transition: all 0.2s ease-in-out;
}
.all__transactions__button:hover {
  color: white;
}
.admin {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  /* margin: 0; */
  padding-top: 30px;
  font-family: "Lato", sans-serif;
}
.admin__wrapper {
  position: relative;
}
.member__button1 {
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #2ecc71;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 30px;
  right: 200px;
  transition: all 0.2s ease-in-out;
}
.member__button1:hover {
  color: white;
}
.member__button2 {
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #2ecc71;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 30px;
  right: 20px;
  transition: all 0.2s ease-in-out;
}
.member__button2:hover {
  color: white;
}
.admin__container {
  margin: 30px auto;
  padding-left: 40px;
  width: 350px;
}
.balance__amount {
  letter-spacing: 1px;
  margin: 0;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
}
.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.recent {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}
.recent__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.recent__list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.recent__list li.plus {
  border-right: 5px solid #2ecc71;
}

.recent__list li.minus {
  border-right: 5px solid #d63e2d;
}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.recent__list li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}
.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.form-control input[type="text"],
.form-control input[type="number"] {
  margin-top: 5px;
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.transaction__type {
  margin: 10px 0px;
}

.form-control {
  margin: 10px 0px;
}
.transaction__type {
  margin-left: 40px;
}

.form-control input::placeholder {
  font-family: "Lato", sans-serif;
}
